body{
    background-image: url('https://wallpaperscraft.com/image/jungle_wood_green_moss_lianas_thickets_64072_1920x1080.jpg');
        color: #fff;
    .question-wall{
        color: #000;
        background-color: rgba(250, 250, 250, 0.7)
    }
    label{
        color: #000;
    }
}